<h1> Projects</h1>

<%= form_tag "search" do %>

  <div>
    <%= label_tag :search %>
    <%= text_field_tag :search %>
  </div>
  <%= submit_tag "Search" %>
<% end %>

<% @projects.each_with_index do |project, i| %>
<%= link_to project.title, project %><br>

<% end %>

<% unless @page == 1 %>
  <%= link_to "First", projects_path({page: 1, search: params[:search]}), method: :get %>
<% end %>
<% unless @page == 1 %>
  <%= link_to "Previous", projects_path({page: @page-1, search: params[:search]}), method: :get %>
<% end %>

<% unless @page * 10 >= @total_projects.length %>
  <%= link_to "Next", projects_path({page: @page+1, search: params[:search]}), method: :get %>
<% end %>
<% last = @total_projects.length % 10 == 0 ? @total_projects.length / 10  : @total_projects.length / 10 + 1 %>
<% unless @page * 10 >= @total_projects.length %>
<%= link_to "Last", projects_path({page: last, search: params[:search]}), method: :get %>
<% end %>
<%#  <div>
<%#    <ul>
<%#      <li><%= project.title %></li>
<%#      <li><%= project.description %></li>
<%#      <li>Due: <%= project.due_date %></li>
<%#    </ul>
<%#  </div>
<%# %>
