<h4>Project Manager: <%= @project.user.full_name %></h4>
<div>Project Collaborators
<ul>

  <%  @project.collaborating_users.each do |user| %>
    <li><%= user.full_name %></li>
  <% end %>
</ul>
</div>
<h1><%= @project.title %></h1>

<h3><%= @project.description %></h3>
<%= @task_params %>
Due: <%= formatted_date @project.due_date%>
Tags: <% @project.tags.each {|t| t.name} %>
<br><br>
<div>
  <% unless @project.favourited_by? current_user %>
    <% unless @project.user == current_user %>
      <%= link_to "Favourite", project_favourites_path(@project), method: :post %>
    <% end %>
  <% else %>
    <%= link_to "Unfavourite", project_favourite_path(@project, @favourite),
          method: :delete %>
  <% end %>
  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Delete", project_path(@project),
      method: :delete, data: {confirm: "Do you really want to delete this project?"} %>
</div>
<%= @project.favourites.length %> people favourited this project!
Add a task to this project?
<br><br>
<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date, start_year: Date.today.year %>
  </div>
  <%= f.submit %>

<% end %>
<h3> Incomplete Tasks </h3>
<% @project.tasks_undone.each do |task| %>

  <h4><%= task.title %></h4>
  <p><%= task.description %></p>
  <p>Due: <%= formatted_date task.due_date %></p>
  <% status = task.done ? "Done" : "Not Done" %>
  <%= link_to status, project_task_path(@project,task, task: {done: !task.done}), method: :patch  %>
  <%= link_to "Edit", edit_project_task_path(@project, task) %>
  <%= link_to "Delete", project_task_path(@project, task), method: :delete,
                data: {confirm: "Are you sure you want to delete this task?"}%>
  <hr>
<% end %>

<h3> Completed Tasks</h3>
<% @project.tasks_done.each do |task| %>

  <h4><%= task.title %></h4>
  <p><%= task.description %></p>
  <p>Due: <%= formatted_date task.due_date %></p>
  <% status = task.done ? "Done" : "Not Done" %>
  <%= link_to status, project_task_path(@project,task, task: {done: !task.done}), method: :patch  %>
  <%= link_to "Edit", edit_project_task_path(@project, task) %>
  <%= link_to "Delete", project_task_path(@project, task), method: :delete,
                data: {confirm: "Are you sure you want to delete this task?"}%>
  <hr>
<% end %>

<h4> Have something to talk about?</h4>

<% if @discussion.errors.any? %>
  <% @discussion.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>
<%= form_for [@project, @discussion] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
<% end %>


<h3> Discussions</h3>

<% @project.discussions.each do |discussion| %>
<hr>
  <div>
    <h2>
      <%= discussion.title %>
    </h2>
  </div>
  <div>
    <h5>
      <%= discussion.description %>
    </h5>
  </div>
  <%= link_to "See Comments", project_discussion_path(@project, discussion) %>
  <%= link_to "Edit", edit_project_discussion_path(@project, discussion) %>
  <%= link_to "Delete", project_discussion_path(@project, discussion), method: :delete,
                      data: {confirm: "Are you sure you want to delete this discussion?  All attached comments will also be permanently deleted."}%>


<% end %>
